In [3]:
import pandas as pd
import numpy as np
loc = "MERGED2016_17_PP.csv"
dfraw = pd.read_csv(loc)    #importing file
dfraw.head()   #print head of data frame

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6,9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,195.0,NaN,NaN,0.3258,89.0,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,229.0,NaN,NaN,0.5603,630.0,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,NaN,NaN,NaN,0.5000,2.0,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,135.0,NaN,NaN,0.5606,264.0,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,55.0,NaN,NaN,0.2277,101.0,NaN,NaN,NaN,NaN,NaN

In [3]:
dfraw.shape

(7175, 1847)

In [4]:
df = dfraw[["C100_4", "NPT4_PUB"]]  #importing variable of interest
df.columns = ["completion", "public_school_tuition"] #naming differently imported variables

In [5]:
df.head()

   completion  public_school_tuition
0      0.0643                15567.0
1      0.3018                16475.0
2      0.1429                    NaN
3      0.1533                19423.0
4      0.0725                15037.0

In [6]:
df.corr()

                       completion  public_school_tuition
completion               1.000000               0.515731
public_school_tuition    0.515731               1.000000

In [7]:
df["expenditures_per_student"] = dfraw["INEXPFTE"] #importing additional variables and changing names in the same time
df["adm_rate"] = dfraw["ADM_RATE"]
df["pell_grant_rate"] = dfraw["PCTPELL"]
df.head()

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate
0,0.0643,15567.0,5888.0,0.8738,0.7039
1,0.3018,16475.0,17055.0,0.5814,0.3525
2,0.1429,NaN,5417.0,NaN,0.6971
3,0.1533,19423.0,10558.0,0.7628,0.2949
4,0.0725,15037.0,7889.0,0.4590,0.7815

In [7]:
# adding race/ethnicity as variable of interest
df["white"] = dfraw["UGDS_WHITE"]
df["black"] = dfraw["UGDS_BLACK"]
df["hispanic"] = dfraw["UGDS_HISP"]
df["asian"] = dfraw["UGDS_ASIAN"]
df["american_indian"] = dfraw["UGDS_AIAN"]
df["hawaiian_pcislander"] = dfraw["UGDS_NHPI"]
df["race_ethnicity_two"] = dfraw["UGDS_2MOR"]
df["nonresident"] = dfraw["UGDS_NRA"]
df["unknown"] = dfraw["UGDS_UNKN"]

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df.corr()

,completion,public_school_tuition,white,black,hispanic,asian,american_indian,hawaiian_pcislander,race_ethnicity_two,nonresident,unknown
completion,1.000000,0.515731,0.278313,-0.291535,-0.149864,0.263919,-0.042858,-0.072222,0.171952,0.176216,-0.166568
public_school_tuition,0.515731,1.000000,0.202425,0.003498,-0.235117,0.042371,-0.107501,-0.077829,0.018126,0.204074,-0.013419
white,0.278313,0.202425,1.000000,-0.487208,-0.565485,-0.225557,-0.096462,-0.104106,0.007263,-0.091099,-0.173129
black,-0.291535,0.003498,-0.487208,1.000000,-0.208349,-0.126757,-0.092085,-0.039819,-0.106087,-0.121283,-0.032272
hispanic,-0.149864,-0.235117,-0.565485,-0.208349,1.000000,0.013849,-0.062749,-0.017736,-0.099518,-0.064033,-0.091325
asian,0.263919,0.042371,-0.225557,-0.126757,0.013849,1.000000,-0.053453,0.103119,0.095215,0.159135,-0.016698
american_indian,-0.042858,-0.107501,-0.096462,-0.092085,-0.062749,-0.053453,1.000000,-0.004183,0.007327,-0.040509,-0.023594
hawaiian_pcislander,-0.072222,-0.077829,-0.104106,-0.039819,-0.017736,0.103119,-0.004183,1.000000,0.040411,-0.013472,-0.009029
race_ethnicity_two,0.171952,0.018126,0.007263,-0.106087,-0.099518,0.095215,0.007327,0.040411,1.000000,0.028082,-0.014676
nonresident,0.176216,0.204074,-0.091099,-0.121283,-0.064033,0.159135,-0.040509,-0.013472,0.028082,1.000000,-0.001138
unknown,-0.166568,-0.013419,-0.173129,-0.032272,-0.091325,-0.016698,-0.023594,-0.009029,-0.014676,-0.001138,1.000000

In [14]:
df.dropna(inplace = True)
df.head()

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate,white,black,hispanic,asian,american_indian,hawaiian_pcislander,race_ethnicity_two,nonresident,unknown
0,0.0643,15567.0,5888.0,0.8738,0.7039,0.0256,0.9129,0.0076,0.0019,0.0024,0.0017,0.0401,0.0065,0.0013
1,0.3018,16475.0,17055.0,0.5814,0.3525,0.5786,0.2626,0.0309,0.0598,0.0028,0.0004,0.0387,0.0179,0.0083
3,0.1533,19423.0,10558.0,0.7628,0.2949,0.7148,0.1131,0.0411,0.0414,0.0120,0.0000,0.0181,0.0303,0.0292
4,0.0725,15037.0,7889.0,0.4590,0.7815,0.0138,0.9337,0.0111,0.0028,0.0013,0.0004,0.0111,0.0159,0.0100
5,0.4385,21676.0,10478.0,0.5259,0.1938,0.7841,0.1037,0.0437,0.0118,0.0036,0.0009,0.0297,0.0192,0.0033

In [9]:
import statsmodels.formula.api as sm
reg1 = sm.ols(formula = 'completion ~ public_school_tuition + expenditures_per_student + adm_rate +pell_grant_rate + white + black + hispanic + asian + american_indian + hawaiian_pcislander + race_ethnicity_two + nonresident + unknown', data = df). fit()
reg1.summary()

PatsyError: Error evaluating factor: NameError: name 'pell_grant_rate' is not defined
    completion ~ public_school_tuition + expenditures_per_student + adm_rate +pell_grant_rate + white + black + hispanic + asian + american_indian + hawaiian_pcislander + race_ethnicity_two + nonresident + unknown
                                                                              ^^^^^^^^^^^^^^^

In [23]:
reg2 = sm.ols(formula = 'completion ~ public_school_tuition + expenditures_per_student + adm_rate + pell_grant_rate + white + black + hispanic + asian', data = df).fit()
reg2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.540
Model:                            OLS   Adj. R-squared:                  0.533
Method:                 Least Squares   F-statistic:                     78.44
Date:                Tue, 23 Oct 2018   Prob (F-statistic):           3.99e-85
Time:                        17:48:49   Log-Likelihood:                 395.26
No. Observations:                 543   AIC:                            -772.5
Df Residuals:                     534   BIC:                            -733.8
Df Model:                           8
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -0.0138      0.082     -0.168      0.866      -0.175       0.147
public_school_tuition     1.344e-05    1.5e-06      8.934      0.000    1.05e-05    1.64e-05
expenditures_per_student  1.167e-05   1.41e-06      8.260      0.000    8.89e-06    1.44e-05
adm_rate                    -0.1529      0.034     -4.493      0.000      -0.220      -0.086
pell_grant_rate             -0.3355      0.068     -4.950      0.000      -0.469      -0.202
white                        0.2569      0.079      3.265      0.001       0.102       0.411
black                        0.1534      0.084      1.823      0.069      -0.012       0.319
hispanic                     0.2881      0.082      3.532      0.000       0.128       0.448
asian                        0.4472      0.131      3.409      0.001       0.189       0.705
==============================================================================
Omnibus:                        6.186   Durbin-Watson:                   1.607
Prob(Omnibus):                  0.045   Jarque-Bera (JB):                8.013
Skew:                           0.090   Prob(JB):                       0.0182
Kurtosis:                       3.567   Cond. No.                     6.61e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.61e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
df["log_public_school_tuition"] = np.log(df['public_school_tuition'])
df["public_school_tuition_thousands"] = df["public_school_tuition"]/1000
df["log_expenditures_per_student"] = np.log(df['expenditures_per_student'])
df["expenditures_per_student_thousands"] = df["expenditures_per_student"]/1000

In [ ]:
df.head()

In [18]:
df = dfraw[["C100_4", "AVGFACSAL"]]
df.columns = ["completion", "faculty_salary"]
df.head()

   completion  faculty_salary
0      0.0643          7028.0
1      0.3018         10517.0
2      0.1429          3857.0
3      0.1533          9463.0
4      0.0725          7952.0

In [19]:
df.corr()

                completion  faculty_salary
completion        1.000000        0.505451
faculty_salary    0.505451        1.000000

In [14]:
df = dfraw[["C100_4","DISTANCEONLY"]]
df.columns = ["completion", "onlineschool"]
df.head()

   completion  onlineschool
0      0.0643           0.0
1      0.3018           0.0
2      0.1429           1.0
3      0.1533           0.0
4      0.0725           0.0

In [20]:
df.corr()

                completion  faculty_salary
completion        1.000000        0.505451
faculty_salary    0.505451        1.000000

In [22]:
df.dropna(inplace=True)
df.head()

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   completion  faculty_salary
0      0.0643          7028.0
1      0.3018         10517.0
2      0.1429          3857.0
3      0.1533          9463.0
4      0.0725          7952.0

In [23]:
regF = sm.ols (formula = 'completion~faculty_salary',data = df).fit()
regF.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.255
Method:                 Least Squares   F-statistic:                     712.7
Date:                Tue, 30 Oct 2018   Prob (F-statistic):          3.04e-135
Time:                        15:17:24   Log-Likelihood:                 378.00
No. Observations:                2079   AIC:                            -752.0
Df Residuals:                    2077   BIC:                            -740.7
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.0021      0.013      0.154      0.877      -0.024       0.028
faculty_salary  4.751e-05   1.78e-06     26.697      0.000     4.4e-05     5.1e-05
==============================================================================
Omnibus:                       62.341   Durbin-Watson:                   1.639
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.751
Skew:                           0.418   Prob(JB):                     1.94e-15
Kurtosis:                       3.286   Cond. No.                     2.30e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.3e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""